<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% extends "crm/base.html" %}
    {% block content %}
    <h2>Elimina cliente</h2>
    <p>Sei sicuro di voler eliminare <strong>{{ cliente.nome }} {{ cliente.cognome }}</strong>?
        (verranno rimossi anche documenti e pratiche collegate)</p>
    <form method="post">{% csrf_token %}
        <button type="submit">Conferma eliminazione</button>
        <a href="{% url 'cliente_dettaglio' cliente.id %}">Annulla</a>
    </form>
    {% endblock %}
</body>
</html>